/* typography */

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    line-height: 1.15;
    letter-spacing: 0.15px;
}

h1,
h2,
h3 {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: .75px;
}

h1 {
    font-size: 72px;
    line-height: 96px;
    font-weight: 200;
    margin-top: 48px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .75px;
    margin-top: 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    color: #ff4444;

}

h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 16px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
}

ol {
    list-style: lower-roman;
}

li {
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0 16px 20px;
}

address {
    margin: 16px 0 0;
}



/* Nav */

nav {
    background: #666;
    text-transform: uppercase;
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

nav li {
    flex-basis: 100px;
    flex-grow: 1;
    margin: 16px;
}

nav li a {
    display: block;
    padding: 8px 16px;
    background: #444;
    color: #fefefe;
    text-decoration: none;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: center;
}

nav li a:hover {
    background: #333;
}

/* layout */

body {
    background: #fefefe;
    border: 16px solid #666;
}


main {
    margin: 48px auto;
}

.row {
    padding: 32px 0;
    display: flex;
    flex-direction: row;
}

.dark {
    /* background: #dedede; */
    background: #ffeeee;
}

article {
    flex: 1 1;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
}

aside {
    width: 50%;
    margin: 48px auto;
    border-top: 2px solid #333;
    padding-top: 24px;
    text-align: center;
}

/* header  */

header {
    text-align: center;
    margin: 48px auto 24px;
}


img.hero {
    margin-top: 10vh;
    width: 480px;
}

img.photo {
    border: 10px solid #fefefe;
    box-shadow: 1px 1px 4px #ccc;
    margin: 16px;
}

img#family {
    width: 50%;
    float: right;
    margin: 0 24px;
}

#contact {
    margin: 16px auto;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 16px;
    width: 320px;
}



footer {
    display: block;
    background: #333;
    padding: 16px;
    text-align: center;
    color: #dedede;
    width: 100%;
}


footer a {
    text-decoration: none;
    font-weight: 400;
    color: #fefefe;
}

table {
    margin: 32px 0;
    font-size: 14px;
}

thead {
    background: #888;
    font-weight: 200;
}

tbody {
    background: #dedede;
    color: #555;
}

th,
td {
    padding: 12px;
    text-align: center;
}

th:first-of-type {
    width: 120px;
    display: inline-block;
}

th {
    font-weight: 400;
}

td:first-of-type,
td:last-of-type,
tfoot td {
    font-weight: 600;
}

label {
    display: inline-block;
    width: 300px;
    text-align: right;
    margin-top: 16px;
    font-size: 14px;
    margin-bottom: 8px;
}

input {
    padding: 8px;
}

/* Sales-table */

#sales-table {
    margin-top: 48px;
}

#sales-table>h3 {
    text-align: center;
}

#sales-table>div {
    padding: 0 20px;
    float: left;
}

li.total {
    font-weight: 600;
    list-style: none;
}

#locations h4 {
    padding-top: 16px;
    border-top: 1px dotted #ccc;
    margin-top: 16px;
}

#locations span {
    font-style: italic;
    margin-left: 16px;
}